.header_nickname {
    font-family: 'Antonio SemiBold';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.5%;
    /* 26.64px */
    text-transform: uppercase;
}

.nav__button{
    color:  #53616C;
font-family: 'Montserrat Bold';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 166.5%; /* 26.64px */
border: 0px;
background-color: inherit;
width: 25%;    
display: flex;
justify-content: center;
align-items: flex-start;
svg{
        margin-left: 10%;
    }
}

.header__content{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}